<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Hello,</p>
    <p>Iam Lochan Potdar a web developer. I have created this website as a small project. If you want to know more about me you can check out my portfolio or contact me.</p>
    <p>Portfolio : <a href="https://lochanp.github.io/myprofile/">lochanp.io/myprofile</a></p>
<%- include("partials/footer"); -%>
