<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>You can contact me on any of the resources mentioned below:</p>
    <p>Mail me: <a href="mailto:lochan.potdar1998@gmail.com" target="_blank">Send a mail</a></p>
    <p>GitHub : <a Github href="https://github.com/lochanp" target="_blank">Github</a></p>
    <p>Instagram: <a Instagram href="https://www.instagram.com/lochan.potdar/" target="_blank">Instagram</a></p>
    <p>Phone : <a Call href="tel:7715089653">Call me</a></p>
<%- include("partials/footer"); -%>
